<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajax</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="icon" href="data:image/x-icon;,">
</head>
<body>
    <div class="container">
        <h1>UpDating Without Page Refreshing..!</h1>
        <hr>
        <form class="container" mt-5 id="post-form" onsubmit="updateStudent({{ object.pk }})">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</body>
<script type="text/javascript">
    function updateStudent(pk) {
        event.preventDefault();  // Prevent the default form submission
    
        // Retrieve the updated values from the form
        var name = $('#id_name').val();
        var roll_number = $('#id_roll_number').val();
        var email = $('#id_email').val();
        var marks = $('#id_marks').val();
        var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
    
        $.ajax({
            type: 'POST',
            url: `/studentupdate/${pk}/`,
            data: {
                'name': name,
                'roll_number': roll_number,
                'email': email,
                'marks': marks,
                'csrfmiddlewaretoken': csrf_token
            },
            success: function(data) {
                console.log('Success:', data);
                /*window.location.href = '/studentslists/';*/
            },
            error: function(xhr, errmsg, err) {
                console.log('Error:', xhr.responseText);
            }
        });
    }
    
</script>


</html>
