{% extends 'ormsapp/base.html' %}


{% block body_content %}

<h1>Employees list's</h1>
<hr>
<table border="2">
    <thead>
        <th>Employee Number</th>
        <th>Employee Name</th>
        <th>Employee Location</th>
        <th>Employee Salary</th>
    </thead>
        {% for i in employees %}
    <tr>
        <td>{{i.emp_number}}</td>
        <td>{{i.emp_name}}</td>
        <td>{{i.emp_location}}</td>
        <td>{{i.emp_salary}}</td>
        
    </tr>
        {% endfor %}
</table>





{% endblock %}